@model BoardGamesManager.Models.BoardGameViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImagePath" asp-append-version="true"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecomendedAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecomendedAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) UAH
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkToStore)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Html.DisplayFor(model => model.LinkToStore)" target="_blank">Buy</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditItem" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="DeleteItemPage" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="BoardGames">Back to List</a>
</div>
