@model BoardGamesManager.Models.BoardGameViewModel

@{
    ViewData["Title"] = "EditItem";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" value="@ViewBag.Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" value="@ViewBag.BoardGameTitle" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameDuration" class="control-label"></label>
                <input asp-for="GameDuration" value="@ViewBag.GameDuration" class="form-control" />
                <span asp-validation-for="GameDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecomendedAge" class="control-label"></label>
                <input asp-for="RecomendedAge" value="@ViewBag.RecomendedAge" class="form-control" />
                <span asp-validation-for="RecomendedAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPlayers" class="control-label"></label>
                <input asp-for="NumberOfPlayers" value="@ViewBag.NumberOfPlayers" class="form-control" />
                <span asp-validation-for="NumberOfPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" value="@ViewBag.Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea class="form-control">@ViewBag.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkToStore" class="control-label"></label>
                <input asp-for="LinkToStore" value="@ViewBag.LinkToStore" class="form-control" />
                <span asp-validation-for="LinkToStore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BoardGames">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
